.b-1{
    background-color: blue;
    color: #fff;
    border: none;
}

.p-1{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    
}

.p-2{
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    margin-right: 43px;
    font-size: 50px;
}

.p-3{
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    margin-right: 500px;
}

.f-1{
    display: flex;
    justify-content: center;

    margin: auto;
    margin-top: 30px;
    padding: 17px 30px;
    background-color: rgb(240, 182, 211);
    color: #fff;
    text-align: center;
    width: max-content;
}